$color-primary : #18191a;
$color-primary-dark1: #242526;
$color-primary-dark2: #242526;

$color-circles: #ffdce0;


$grid-width: 80%;
$gutter-v: 20px;
$gutter-h: 30px;

$banner-header-text-size: 45px;
$banner-sub-text-size: 17px;

$form-header-text-size: 40px;
$form-sub-text-size: 30px;
