.content-col-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 15%;
    -ms-flex: 0 15%;
    flex: 0 15%;
   
  }
  
  
  
  
  
  .primary-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 5px;
    background-color: #328af1;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .primary-btn.auth {
    margin-bottom: 0rem;
  }
  
  .side-menu-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #202020;
    color: #858585;
    font-size: 12px;
    text-decoration: none;
  }
  
  .side-menu-links.side-menu-active {
    border-radius: 5px;
    background-color: #242526;
  }
  
  @media screen and (max-width: 767px) {
  
    .content-col-1 {
      display: none;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }  
}